.cttitle {
  position: relative;
  color: rgb(182, 182, 69);
  margin-left: 50%;
  padding-bottom: 20px;
  font-size: 2rem;
}

.map {
  position: relative;
  margin-left: 20%;
  padding-bottom: 50px;
}
.cpage {
  background-color: whitesmoke;
  z-index: -6;
}

.concontainer {
  border-radius: 5px;
  box-sizing: border-box;

  width: 450px;
  float: right;
  margin-right: 300px;
}

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.contbutton {
  border: none;
  background: rgb(182, 182, 69);
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.contbutton:hover {
  color: rgb(182, 182, 69) !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;

  transition: all 0.3s ease 0s;
}
