.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  background-color: black;
}

.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;

  justify-content: flex-end;
}

.option {
  padding: 10px 15px;
  text-decoration: none;
  color: whitesmoke;
}

.head {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: left;
  padding-top: 25px;
  padding-left: 50px;
  text-decoration: none;

  color: rgb(182, 182, 69);
  font-size: 1.5rem;
}
